.App {
  text-align: center;
}

textarea {
  width: 80%;
  max-width: 600px;
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: gray;
  border: 8px solid gray;
  border-radius: 5px;
}

button {
  background-color: #565252;
  color: white;
  font-weight: bolder;
  border: 8px solid gray;
  border-radius: 5px;
  margin: 20px;
  padding: 10px 5px;
  font-size: 20px;
  width: 200px;
  cursor: pointer;
  transition-duration: 0.8s;
}

button:hover {
  background-color: gray;
  border: 8px solid #565252;
  color: white;
}

h1 {
  color: gray;
}